@model UserEvaluation.Admin.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}

@if (TempData["Login"] != null)
{
    <div class="alert alert-info">
        @TempData["Login"]
    </div>
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Shoposphere</title>

    <!-- Font Icon -->
    @*<link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">*@
    <link href="~/Login_and_Register/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />


    <!-- Main css -->
    @*<link rel="stylesheet" href="css/style.css">*@
    <link href="~/Login_and_Register/colorlib-regform-7/css/style.css" rel="stylesheet" />


</head>
<body>

    <div class="main">

        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/Login_and_Register/colorlib-regform-7/images/signin-image.jpg" alt="sing up image"></figure>




                        <a href="/home/register" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>


                        <form class="user" asp-controller="Auth" asp-action="login" method="post" asp-antiforgery="true">
                            <div class="form-group">
                                <input asp-for="Email" type="email" class="form-control form-control-user" aria-describedby="emailHelp"
                                       placeholder="Enter Email Address...">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" type="password" class="form-control form-control-user" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="RememberMe"></label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Login
                            </button>
                        </form>


                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="https://www.facebook.com/"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="https://www.google.com.tr/"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    JS
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>